@font-face {
  font-family: 'ExeChipFont';
  src: url(../font/ExeChipFont.otf);
}

h1 {
  font-family: ExeChipFont;
}

.tagify {    
  width: 100%;
  max-width: 704px;
  --tag-inset-shadow-size: 2em;
}