body {
  min-height: 100vh;
  background-color: #ddeeff;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 200%
}

button {
  color: white;
  font-size: 100%;
  padding: 10px 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

button.submit {
  background-color: #0f7fff;
  transition: all 0.2s;
}

button.submit:hover {
  background-color: #3493ff;
}

#main {
  position: relative;
  max-width: 704px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

#mapCanvas {
  width: 100%;
  max-width: 704px;
}

.annotation {
  font-size: 60%;
  color: #999999;
}

.tagify {    
  width: 100%;
  max-width: 704px;
  background-color: white;
  --tag-inset-shadow-size: 2em;
}

@media only screen and (max-width: 600px) {
  #main {
    max-width: none;
  }

  h1 {
    font-size: 100%
  }
}
